.post-title {
    font-family: "Roboto Slab", "Open Sans", arial, sans-serif;
    text-transform: none;
}

.post-preview-title {
    font-size: 36px;
}

.post-preview-description {
    font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto Slab", "Open Sans", arial, sans-serif;
    margin-bottom: 12px;
}

h1 {
    font-size: 30px;
}

.post-preview-title a {
    color: #707070;
}
.post-preview-title a:hover {
    color: #900;
}

.site-nav a
{
    font-family: "Open Sans Condensed";
    font-size: 20px;
}
.site-nav a:hover
{
    border-bottom: 1px solid #900;
}
ul.site-nav
{
    display: inline;
    margin-left: 10px;
}

ul, ol
{
    list-style-position: outside;
    margin-left: 30px;
}

a, code, 
.post-date a:hover,
.blog-description a:hover,
.post-stub a:hover,
.author-meta a:hover
{
    color: #900;
}

.post-content a:hover
{
    border-bottom: 1px dotted #900;
}

.post-description
{
    text-transform: none;
}

.post-date:after, .blog-description:after
{
    border-bottom: 0px;
    margin: 20px auto 0;
}

.site-title a,
.button-square, 
.button:hover, 
.share a,
.newer-posts,
.older-posts,
.post-stub a:hover .post-stub-tag,

#nprogress .bar
{
    background: #900;
}

#nprogress .peg {
  box-shadow: 0 0 10px #900, 0 0 5px #900; }

#nprogress .spinner-icon {
  border-top-color: #900;
  border-left-color: #900; }


blockquote {
    border-left: 10px solid #F0F2F4;
}

code.has-jax {
    font: inherit;
    font-size: 100%;
    background: inherit;
    border: inherit;
    color: #424242;
}

.post-stub-tag {
  background: #707070;
  border-radius: 3px;
  color: #FFF;
  float: right;
  font-size: 10px;
  margin: 7px 1px 0;
  padding: 0 5px;
  text-transform: uppercase; }

.post-stub-tag-featured {
  background: #9BD7D5;
  border-radius: 3px;
  color: #FFF;
  float: right;
  font-size: 10px;
  margin: 7px 3px 0;
  padding: 0 5px;
  text-transform: uppercase; }

.post-preview-tag {
  background: #707070;
  border-radius: 3px;
  color: #FFF;
  font-size: 10px;
  float: right;
  margin: 0px 1px 0;
  padding: 0 5px;
  text-transform: uppercase; }

.post-preview-tag a {
  background: #707070;
  color: #FFF;
  text-transform: uppercase; }

.post-preview-tag:hover {
  background: #900;
}
.post-preview-tag a:hover {
  background: #900;
}

.post-preview-date {
  color: #AEADAD;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  margin: 5px 0 0;} 
  .post-preview-date a { color: #AEADAD; }
  .post-preview-date a:hover { color: #F03838; }
